<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDbTaskManager" />
                <binding name="BasicHttpBinding_ITestingService" />
                <binding name="BasicHttpBinding_ITestingService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1050/TestService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDbTaskManager" contract="ServiceReference1.IDbTaskManager"
                name="BasicHttpBinding_IDbTaskManager" />
            <endpoint address="http://localhost:1050/TestService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITestingService" contract="ITestingServise.ITestingService"
                name="BasicHttpBinding_ITestingService" />
            <endpoint address="http://localhost:1050/TestService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITestingService1" contract="ServiceReference2.ITestingService"
                name="BasicHttpBinding_ITestingService1" />
        </client>
    </system.serviceModel>
</configuration>